html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: whitesmoke;
}
    #root, #app, #login {
        width: 100%;
        height: 100%;
    }
    #login {
        display: flex;
        align-items: center;
        justify-content: center;
    }